<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Interactive Tutorial on Sets</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <h1>Interactive Tutorial on Sets: Stage 1 Info</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/do">Interactive Tutorial on Sets</a>
      <a class="nav-link nav-link-ltr" href="/setfunctions">Set Functions</a>
    </div>
    <div class="content">
      <p>A group or collection of things is called a set. Each thing in a set is called a "member" or "element"</p>
      <p>The set of is written in { }</p>
      <p>Eg. "the set of languages" can be written as {languages}</p>
      <p>A set is normally written out in full so all of its elements can be seen</p>
      <p>eg. "the set of the factors of 6" can be written as {1, 2, 3, 6}</p>
      <p>The order of the elements in a set doesn't matter.</p>
      <hr>
      <p>∈ means "is an element of"</p>
      <p>Eg. spotify is an element of the set of apps can be written as</p>
      <p>spotify ∈ {apps}</p>
      <p>alone is an element of the set of songs can be written as</p>
      <p>alone ∈ {songs}</p>
      <p>∉ means "is NOT an element of"</p>
      <p>Eg. bye is not an element of the set of greetings can be written as</p>
      <p>bye ∉ {greetings}</p>
      <hr>
      <p>Sets are sometimes given capital letter names to indentify them, eg.</p>
      <p>A = {apps}</p>
      <p>S = {songs}</p>
      <p>F = {files}, etc.</p>
      <a href="/changestage/1-Questions">Next Page</a>
    </div>
    <script src="/sticky.js"></script>
  </body>
</html>