<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Interactive Tutorial on Sets</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <h1>Interactive Tutorial on Sets: Stage 2 Info</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/do">Interactive Tutorial on Sets</a>
      <a class="nav-link nav-link-ltr" href="/setfunctions">Set Functions</a>
    </div>
    <div class="content">
      <p>A Venn diagram is a way of showing sets in picture form. Each set is drawn as a rough circle, ring or egg shape, like below.</p>
      <img src="static/pic-1.png" alt="Venn Diagram" height="200" width="300">
      <p>The space inside a Venn Diagram is called a region.</p>
      <hr>
      <p>An empty set is a set which contains no elements. It is called a Null set or a Void set.</p>
      <p>eg. If set A is the set of six-cornered pentagons</p>
      <p>A = { } <strong>OR</strong> A = Ø</p>
      <hr>
      <p>The number of elements in a set is written as n followed by the name of the set in ordinary brackets.</p>
      <p>Eg. If set B = {hi, hello, namaste} the number of elements in the set is 5, so it can be written as</p>
      <p>n(B) = 3</p>
      <p>If set E = {5}</p>
      <p>n(E) = 1</p>
      <p>The number of elements of an empty set is 0.</p>
      <p>Eg. If set H = Ø, n(H) = 0</p> 
      <a href="/changestage/2-Questions">Next Page</a>
    </div>
    <script src="/sticky.js"></script>
  </body>
</html>