<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Interactive Tutorial on Sets</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <h1>Interactive Tutorial on Sets: Stage 3 Info</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/do">Interactive Tutorial on Sets</a>
      <a class="nav-link nav-link-ltr" href="/setfunctions">Set Functions</a>
    </div>
    <div class="content">
      <p>A subset is a set which is a small part of another set</p>
      <p>Eg. {prime number} is a subset of {numbers}</p>
      <p>{pop songs} is a subset of {songs}</p>
      <p>The sign ⊂ means "is a subset of"</p>
      <p>Eg. {cs teachers} ⊂ {teachers}</p>
      <p>{black cars} ⊂ {cars}</p>
      <hr>
      <p><strong>Listing all the subsets of a set</strong></p>
      <p>Eg. (1) The subsets of {apple, banana} are {apple, banana}, {apple}, {banana}, Ø</p>
      <p>Eg. (2) The subsets of {1, 3, 5} are {1, 3, 5}, {1, 3}, {1, 5}, {3, 5}, {1}, {3}, {5}</p>
      <p><u>REMEMBER</u></p> (1) A set is a subset of itself</p>
      <p>(2) An empty set is a subset of any other set</p>
      <p>(3) Members of a set may be written in any order</p>
      <hr>
      <p>⊃ means "contains as a subset"</p>
      <p>⊄ means "is not a subset of"</p>
      <p>⊅ means "does not contain as a subset"</p>
      <hr>
      <p>Two or more different sets may have one or more members in common. The shared set which contains these members is called the intersection of the original sets</p>
      <p>The intersection is written ∩ and is often called cap</p>
      <p>Eg. Set L = {a, b, c, d, e, f}</p>
      <p>Set V = {a, e, i, o, u}</p>
      <p>The memebers a and e are members of both sets so {a, e} is the intersection of sets L and V (L cap V).</p>
      <p>Set L ∩ V = {a, e}</p>
      <p>In a Venn diagram, intersection is shown by overlapping.</p>
      <hr>
      <p>The union of two (or more) sets is the set containing all the members of both (or all) sets</p>
      <p>Union is written ∪ and is often caled cup</p>
      <p>Eg. P = {Thames, Tay, Tees, Trent, Tweed}</p>
      <p>Q = {Clyde, Tay, Tweed, Dee, Forth}</p>
      <p>The union of sets P and Q is</p>
      <p>P ∪ Q = {Thames, Trent, Tees, Tay, Tweed, Clyde, Dee, Forth}</p>
      <p><strong>NOTE</strong> Each member of the union should be listed only once. Don't repeat any members</p>
      <p>Union of three sets is written A ∪ B ∪ C, etc.</p>
      <a href="/changestage/3-Questions">Next Page</a>
    </div>
    <script src="/sticky.js"></script>
  </body>
</html>